<%- include("header") -%>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eaque doloribus culpa, sapiente consequatur autem officia ducimus animi, esse inventore in.</p>

<%- include("footer") -%>
